import { forwardRef } from "react";

export interface {{capitalize componentName}}Props {}

const {{capitalize componentName}} = forwardRef<HTMLDivElement, {{capitalize componentName}}Props>((props, ref) => {
  return <div>{{capitalize componentName}}</div>;
});

{{capitalize componentName}}.displayName = "frontplus.{{capitalize componentName}}";

export default {{capitalize componentName}};
