import { forwardRef } from "react";

export interface {{capitalize name}}Props {}

const {{capitalize name}} = forwardRef<HTMLDivElement, {{capitalize name}}Props>((props, ref) => {
  return <div>{{capitalize name}}</div>;
});

{{capitalize name}}.displayName = "frontplus.{{capitalize name}}";

export default {{capitalize name}};
